@model OnlineShoppingStore.Interfaces.ICategoryListView

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var I = 0; var info = Model.CategoryCollection.Any();
}



<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Category Lists</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <div class="container">
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.Message
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div></div>
            @if (info)
            {
                <table class="table">
                    <thead class="bg-light">
                        <tr>
                            <th>
                                S/N
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Action
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CategoryCollection)
                        {
                            <tr>
                                <td>
                                    @(I += 1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>
            }
            else
            {
                    <div class="container">No Category in List</div>
            }
        </div>
    </div>
</div>

 